.fsmain{
width:100%;
padding-top:2px;
}
div.fsmain img{
margin: 0 ! important;
}
.fsleft{
float:left;
}
.fscenter{
float:none;
display:inline-block;
}
.fsbtncenter{
padding-left:3px;
margin:1px;
display:inline-block;
}
.fsbtnfloat{
float:left;
padding-left:3px;
margin:1px;
}
.fscounter{
margin:3px;
box-shadow: 0 1px 1px #999;
text-shadow: 0 1px 1px #000000;
background-color: #ccc;
color: #fff;
display: inline-block;
font-size: 14px;
padding: 5px 15px;
text-align: center;
text-decoration:none;
min-width:20px;
}
.fscounterflat{
background-color: #000;
color: #fff;
display: inline-block;
font-size: 15px;
padding: 20px 0px;
text-align: center;
text-decoration:none;
width:45px;
margin-right:3px;
}
.fsbase{
margin:3px;
box-shadow: 0 1px 1px #999;
text-shadow: 0 1px 1px #000000;
color: #fff;
display: inline-block;
font-size: 14px;
padding: 5px 15px;
text-align: center;
min-width: 121px;
text-decoration:none;
line-height:1,5;
}
.fsflat{
color: #fff;
display: inline-block;
font-size: 15px;
padding: 20px 20px;
text-align: center;
min-width: 140px;
text-decoration:none;
line-height:1,5;
margin-top:2px;
}
a.fsbase{
text-decoration:none ! important;
color: #fff ! important;
}
a.fsbase:hover{
text-decoration:none ! important;
color: #fff ! important;
}
a.fsbase:link{
text-decoration:none ! important;
color: #fff ! important;
}
a.fsbase:visited{
text-decoration:none ! important;
color: #fff ! important;
}
a.fsflat{
text-decoration:none ! important;
color: #fff ! important;
}
a.fsflat:hover{
text-decoration:none ! important;
color: #fff ! important;
}
a.fsflat:link{
text-decoration:none ! important;
color: #fff ! important;
}
a.fsflat:visited{
text-decoration:none ! important;
color: #fff ! important;
}
.fsfb{
background-color: #2b4170;
}
.fsfl{
background-color: #709b3f;
}
.fstw{
background-color: #0081ce;
}
.fsdigg{
background-color: #306295;
}
.fsdel{
background-color: #285da7;
}
.fsvz{
background-color: #e00;
}
.fsgp{
background-color: #c33219;
}
.fsxi{
background-color: #026466;
}
.fsli{
background-color: #4393BB;
}
.fspi{
background-color: #cb2027;
}
.fssu{
background-color: #ea4a24;
}
.fstu{
background-color: #2c4762;
}
.fswa{
background-color: #33CC66;
}
.fspo{
background-color: #f03e56;
}
.fsfe{
background-color: #00bc04;
}
.fsprivacy{
display: block;
text-align: left;
margin:3px;
cursor:help
}
.fssl{
display: block;
margin:3px;
text-align: left;
font-size:0.8em;
}
.fsclear{
clear: both;
}
.fsbar{
position:fixed;
bottom:0;
left:0;
right:0;
width:100%;
background-color:black;
text-align:center;
z-index:1;
clear:both;
height:64px;
margin-top:-64px;
}
.fsbar a{
margin:5px;
}
a.flatmix{
float: left;
margin-top:2px;
margin-right:3px;
}

.fsspanflatmix{
float: left;
color: #fff;
display: inline-block;
font-size: 15px;
padding: 4px;
height:32px;
text-align: center;
min-width: 50px;
text-decoration: none;
line-height: 1,5;
}